body{
    background-color: #c1fba4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.15em;
    margin: 3px;
    padding: 0;
}

header{
    background-color: #FFEF9F;
}

a[href="#content"]{
    text-decoration: none;
    font-size: 0.9em;
}

nav{
    background-color: #FFD6E0;
}

li{
    display: inline-block;
    width: 30%;
}

h1{
    display: block;
    text-align: center;
    font-family: Cookie, Verdana, sans-serif;
    font-size: 3em;
    color: #006e6d;
}

main{
    background-color: #7BF1A8;
}

p{
    line-height: 1.5em;
}

footer{
    background-color: #90F1EF;
    font-size: 0.7em;
}